@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
.mycontainer{    
    width: 80%;
    margin: auto;
}
h1{
    font-weight: 600;
    font-size: 65px;
}

h2{
    font-weight: 600;
    font-size: 45px;
}
.myslider img{
    filter: brightness(50%);
}

.review img{
    width:10%;
    height:10%;
    border-radius: 50%;
    margin-right: 10px;
}

.mybg{
    background-color: #F4FAFD;
}
.comma{
    width: 10%;
}

.review-box{
    position: relative;
}
.lefticon{
    position: absolute;
    left: -4%;
    top: 45%;
    border-radius: 90%;
    font-size: 30px;
    background-color: #E5F6FF;
    color: #289BDE;
    padding: 15px;
    width: 8%;
    text-align: center;
}
.righticon{
    position: absolute;
    right: -4%;
    top: 45%;
    border-radius: 90%;
    font-size: 30px;
    background-color: #289BDE;
    color: #fff;
    padding: 15px;
    width: 8%;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .content{
        width: 90%;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .slider p{
        font-size: 12px;
        line-height: 18px;
    }
    .register{
        text-align: center;
    }
    .myslider img{
        width: 100%;
    }
    .review img{
        width:20%;
    }

    .comma{
        width: 30%;
    }
    
    .lefticon{
        position: absolute;
        left: -10%;
        top: 45%;
        border-radius: 90%;
        font-size: 30px;
        background-color: #E5F6FF;
        color: #289BDE;
        padding: 15px;
        width: 20%;
        text-align: center;
    }
    .righticon{
        position: absolute;
        right: -10%;
        top: 45%;
        border-radius: 90%;
        font-size: 30px;
        background-color: #289BDE;
        color: #fff;
        padding: 15px;
        width: 20%;
        text-align: center;
    }
}
    

@media screen and (min-width: 768px) and (max-width: 991px) {
    .content{
        width: 90%;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 12px;
    }
    .slider p{
        font-size: 15px;
        line-height: 18px;
    }
    .lefticon{
        position: absolute;
        left: -5%;
        top: 40%;
        border-radius: 90%;
        font-size: 30px;
        background-color: #E5F6FF;
        color: #289BDE;
        padding: 15px;
        width: 10%;
        text-align: center;
    }
    .righticon{
        position: absolute;
        right: -5%;
        top: 40%;
        border-radius: 90%;
        font-size: 30px;
        background-color: #289BDE;
        color: #fff;
        padding: 15px;
        width: 10%;
        text-align: center;
    }
}
    
